.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }
  
  .spinner {
    width: 200px;
    height: 200px;
    border: 25px solid #abafab;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .message {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }
  